#include <windows.h>

// Declared first so Explorer uses it as the file icon.
IDI_APPICON ICON "../../assets/cavitation.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Locke Werks"
            VALUE "FileDescription",  "Cavitation"
            VALUE "FileVersion",      "0.1.0.0"
            VALUE "InternalName",     "Cavitation"
            VALUE "LegalCopyright",   "Licensed under the Apache License, Version 2.0"
            VALUE "OriginalFilename", "Cavitation.exe"
            VALUE "ProductName",      "Cavitation"
            VALUE "ProductVersion",   "0.1.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
